* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -20px 0 50px;
}

h2 {
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
}

.loginh2 {
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
}

input {
    padding: 6px;
    font-size: 15px;
    border-radius: 5px;
}

input[type="radio"]{
    height: 15px;
    width: 15px;
}

input[type="submit"]:hover {
    background: black;
    color: white;
}

label {
    width: 220px;
    display: inline-block;
    text-align: right;
}

select {
    padding: 6px;
    font-size: 15px;
    border-radius: 5px;
}

#d1 {
    display:block;
    text-align:center
}

#d2 {
    display:block;
    text-align:center
}